@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --pading-container: 100px 0;
    --color-title: #001A49;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--pading-container);
}

/*- - - - - H E R O - - - - - */
.hero {
    width: 100%;
    height: 100vh;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -4;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
}
.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}
/*- - - - N A V - - - - -*/
.nav {
    --pading-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav__title {
    font-weight: 300;
}
.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}
.nav__items {
    list-style: none;
}
.nav__links {
    color: #fff;
    text-decoration: none;
}
.nav__links:hover {
    border-bottom: 1px solid white;
}
.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.nav__img {
    display: block;
    width: 30px;
}
.nav__close {
    display: var(--show, none);
    z-index: 6;
}
/*- - - - - H E R O   CONTAINER- - - - -*/

.hero__container {
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}
.hero__title {
    font-size: 2.5rem;
    text-transform: uppercase;
}
.cta {
    display: inline-block;
    background-color: palevioletred;
    justify-self: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 32px;
    cursor: pointer;
}
#comienzaahora {
    background-color: rgba(216, 112, 147, 0.705);
}
main {
    margin: 0 auto;
    width: 100%;
}

/*- - - - - A B O U T - - - - -*/

.about {
    text-align: center;
}
.about__title {
    color: palevioletred;
}
.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
    color: rgb(150, 76, 150);
    color: palevioletred;
    text-transform: uppercase;
    text-align: center;
}
.about__paragraph {
    line-height: 1.7;
}
.about__main {
    width: 90%;
    max-width: 1400px;
    gap: 1.5rem;
    padding-top: 60px;
    display: grid;
    margin: 0 auto;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    grid-template-rows: auto;
    place-items: center;
}
.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}
.about__icon {
    width: 5rem;
}

/*-- - - - - - C E R T I F I C A D O - - - -*/

#certificado {
    height: auto;
    width: 100%;
    padding: 10rem 0;
}
#certificado .certificado__container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#certificado .certificado__container .medalla {
    width: 15rem;
    height: auto;
    position: absolute;
    right: -10rem;
    display: none;
    /* bottom: -4rem;
    left: 50%;
    transform: translateX(-50%); */
}
#certificado .certificado__container .medalla img {
    width: 100%;
    height: auto;
}
#certificado .certificado__container .certificado__info {
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-align: center;
    position: relative;

}
#certificado .certificado__container .certificado__info .niveles {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
#certificado .certificado__container .certificado__info .niveles .nivel {
    width: 100%;
    margin: 0 auto;
    /* margin-top: 0.5rem; */
    padding: 1rem;
    background-color: palevioletred;
    border-radius: 2rem;
    font-weight: bold;
    color: white;
}

#certificado .certificado__container .certificado__info h2 {
    color: palevioletred;
    width: 100%;
    font-size: 2.5rem;
    text-transform: uppercase;
}
#certificado .certificado__container .certificado__info h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#certificado .certificado__container .certificado__img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#certificado .certificado__container .certificado__img img {
    width: 60%;
}
.resaltado- {
    font-weight: bold;
    color: palevioletred;
}

/*---KNOWLEDGE BOX*/
.knowledge__box {
    width: 95%;
    max-width: 1200px;
    height: auto;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(260px, 1fr) );
    grid-template-rows: auto;
    place-items: center;
    /* gap: 1rem; */
    gap: 1.5rem;
    margin: 0 auto;
    padding-bottom: 1.5rem;
    margin-bottom: 5rem;
}
/*- - - - K N O W L E D G E - - - - - */

.knowledge {
    width: 100%;
    min-width: 260px;
    height: 600px;
    background-color: #fff;
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    /* overflow: hidden; */
    border-radius: 1rem;
    position: relative;
    margin-top: 1.5rem;
    border-radius: 50px;
background: #fff;
box-shadow:  5px 5px 11px #b5b5b5,
             -5px -5px 11px #ffffff;
}
.knowledge__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
.knowledge__picture {
    width: 70%;
    height: 10rem;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1rem;
    background-color: red;
    padding: 1rem;
    margin-bottom: 2rem;
}
.knowledge__img {
    width: auto;
    height: 110%;
}

/*---BACKGROUND IMAGE KNOWLEDGE*/
.acrilicas {
    background: url(../images/knowledge-acrilicas.png);
}
.polygel {
    background: url(../images/knowledge-polygel.jpg);
}
.peloxpelo {
    background: url(../images/knowledge-pestanas.jpg);
}
.decoracion {
    background: url(../images/knowledge-decoracione.jpg);
}
.semipermanente {
    background: url(../images/knowledge-semipermanente.jpg);
}
.volumenruso {
    background: url(../images/knowledge-volumenruso.jpg);
}
.lifting {
    background: url(../images/knowledge-lifting.jpg);
}
.lifting, .volumenruso, .peloxpelo, .semipermanente, .softgel, .peloxpelo, .polygel, .acrilicas, .decoracion {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*---FIN BACKGROUND IMAGE KNOWLEDGE*/

.knowledge__paragraph {
    line-height: 1.7;
    margin-bottom: 15px;
    height: auto;
    width: 92%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0.5rem;
}
.knowledge__texts {
    margin: 0 auto;
}
.knowledge__box .knowledge .knowledge__texts .subtitle {
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.5rem;
    /* margin: 0 auto; */
}
.boton-modal {
    position: absolute;
    bottom: -2rem;
}

/*- - - - - S L I D E R - - - -  -*/
.slider__box {
    width: 100%;
    height: auto;
    background-color: palevioletred;
    display: grid;
        grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    place-items: center;
    position: relative;
}
.slider__info {
    width: 100%;
    text-align: center;
}
.slider__info p {
    font-weight: 500;
    color: #fff;
    line-height: 1.7;
    padding: 1rem;
}
.slider__info h2 {
    background-color: #fff;
    color: palevioletred;
    /* border-bottom: 1px solid #fff; */
    /* font-size: 2rem; */
    text-transform: uppercase;
    padding: 1rem;
}
.slider {
    /* width: 21rem; */
    width: 100%;
    max-width: 21rem;
    /* min-width: 15rem; */
    height: auto;
    overflow: hidden;
}
.slider ul {
    display: flex;
    animation: cambio 28s infinite alternate linear;
    width: 700%;
    /* padding: 1rem; */
}
.slider li {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider img {
    width: 100%;
    height: auto;
    /* min-width: 20rem; */
    /* border-radius: 1rem; */
    /* border-radius: 2rem; */
}
.slider__button {
    position: absolute;
    bottom: -1rem;
    color: palevioletred;
    border: 2px solid palevioletred;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    width: auto;
    height: auto;
    padding: 0.5rem;
    background-color: #fff;
}

@keyframes cambio {
    0%{margin-left: 0;}
    10%{margin-left: 0;}

    15%{margin-left: -100%;}
    25%{margin-left: -100%;}

    30%{margin-left: -200%;}
    40%{margin-left: -200%;}

    45%{margin-left: -300%;}
    55%{margin-left: -300%;}

    60%{margin-left: -400%;}
    70%{margin-left: -400%;}

    75%{margin-left: -500%;}
    85%{margin-left: -500%;}

    90%{margin-left: -600%;}
    100%{margin-left: -600%;}
}

/* - - - - P R I C E - - - - - */

.price {
    width: 100%;
    height: auto;
    text-align: center;
}
.price__table {
    width: 95%;
    max-width: 1400px;
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(260px, 1fr) );
    grid-template-rows: auto;
    gap: 2rem;
    place-items: center;
    margin: 0 auto;
}
.price__element {
    width: 100%;
    min-width: 260px;
    height: auto;
    min-height: 500px;
    background: rgb(255,157,190);
    background: linear-gradient(3deg, rgba(255,157,190,1) 0%, rgba(185,66,178,1) 100%);
    text-align: center;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --color-plan: #000000;
    --color-price: #fff;
    --bg-cta: #fff;
    --color-cta: rgb(0, 0, 0);
    --color-items: #ffffff;
    font-weight: bold;
    box-shadow: -1px 8px 17px 2px rgba(166,163,163,0.89);
-webkit-box-shadow: -1px 8px 17px 2px rgba(166,163,163,0.89);
-moz-box-shadow: -1px 8px 17px 2px rgba(166,163,163,0.89);

}
.pestañas {
    background: rgb(255,112,244);
background: linear-gradient(90deg, rgba(255,112,244,1) 0%, rgba(3,212,205,1) 100%);
}
.integral{
    background-image: radial-gradient(circle at 76.18% 4.65%, #ffe05b 0, #ffcf49 16.67%, #f8b630 33.33%, #ea9800 50%, #dc7900 66.67%, #d35e00 83.33%, #d04700 100%);
    /* border: 2px solid rgba(165, 42, 42, 0.329); */
    
}
.integral .price__name{
    color: rgb(109, 36, 36);
    
;
}
.integral .price__cta {
    color: rgb(109, 36, 36);
}
.price__element--color {
    background-color: rgb(218, 173, 214);
}
.price__element--cocolor {
    background-color: violet;
}
.price__name {
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.3rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #bc46b3;
}
.plan__price {
    font-size: 2.5rem;
    color: var(--color-price);
}
.price__items {
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.3rem;
    margin-bottom: 50px;
    color: var(--color-items);
}
.price__cta {
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: bold;
    text-transform: uppercase;
    color: palevioletred;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
    position: absolute;
    bottom: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 2px solid rgba(216,112,147,0.5);
}
.price__cta:hover {
    color: rgb(216, 112, 147);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.price__signo {
    font-size: 1.5rem;
}


/*- - - - - T E S T I M O N Y - - - - -*/

.testimony {
    justify-content: center;
    background-image: url(../images/backgroundopiniones.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding-bottom: 1.5rem;
}
.testimony__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
    justify-content: center;
}
.testimony__body {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    padding: 0.5rem;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0 ;
    pointer-events: none;
    overflow: hidden;
}
.testimony__review {
    text-align: center;
}
.testimony__body--show {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}
.testimony__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}
.testimony__picture {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.testimony__course {
    background-color: palevioletred;
    color: #fff;
    display: inline-block;
    padding: 5px;
}
.testimony__arrow {
    width: 90%;
    cursor: pointer;
    max-width: 200px;
    background-color: rgba(255, 255, 255, 0.575);
    border-radius: 100%;
        backdrop-filter: blur(10px);
}
.subtitle--testimony {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0 auto;
}
.cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta--testimony {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*- - - Q U E S T I O N S - - - */

.questions {
    text-align: center;
}
.questions__container {
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 10px;
}
.questions__padding {
    padding: 0;
    transition: padding .3s;
    border: 1px solid palevioletred;
    border-radius: 6px;
}
.questions__padding--add {
    padding-bottom: 30px;
}
.questions__answer {
    padding: 0 30px 0;
    overflow: hidden;
}
.questions__title {
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}
.questions__arrow {
    border-radius: 50%;
    background-color: palevioletred;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    transition: transform .3s;
}
.questions__arrow--rotate {
    transform: rotate(180deg);
}
.questions__show {
    text-align: left;
    height: 0;
    transition: height .3s;
}
.questions__img {
    display: block;
}
.questions__copy {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/*- - - - R E D E S - - - - */
.nuestras__redes {
    width: 100%;
    height: auto;
    padding-top: 5rem;
    margin-bottom: 5rem;
}
.nuestras__redes .redes {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem;
}
.nuestras__redes .redes .red{
    width: auto;
    height: auto;
    max-height: 10rem;
    border-radius: 1rem;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nuestras__redes .redes .red a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    margin: 0 auto;
}
.nuestras__redes .redes .red label {
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 10rem;
    text-transform: uppercase;
    color: palevioletred;
}
.nuestras__redes .redes .red a img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.5rem;
}

/* - - - B O T O N D E S U B I R - - -*/

.go-top-container {
    position: fixed;
    bottom: -4rem;
    right: -4rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}
.go-top-button {
    width: 0rem;
    height: 0rem;
    background: palevioletred;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}
.show {
    z-index: 10;
    margin: 0;
}
.go-top-container .show {
    margin: 2rem;
    width: 0;
    height: 0;
    background-color: red;
}
.show .go-top-button {
    animation: popup .3s ease-in-out;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 11;
}
.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup{
    0% {
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 6.6rem;
        height: 6.6rem;
    }
}
/*- - - - - F O O T E R - - - - - */

.footer {
    background-color: palevioletred;
    width: 100%;
    /* min-width: 60rem; */
}
.footer__title {
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 30px;
}
.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.nav--footer {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
    justify-content: space-around;
}
.footer__copy {
    --pading-container: 30px 0;
    text-align: center;
    color: #fff;
    background-color: palevioletred;
}
.footer__copyright {
    font-weight: 300;
}
.footer__icons {
    margin-bottom: 10px;
}
.footer__img {
    width: 30px;
}
.footer__container {
    flex-wrap: wrap;
    width: 100%;
    background-color: palevioletred;
    padding: 2rem;
}
.nav--footer {
    width: 90%;
    justify-items: center;
}
.nav__link--footer {
    width: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
/*- - - - M e r i a   Q u e r i e s - - - - */

@media (max-width:800px) {
    .nav__menu {
        display: block;
    }
    .nav__link--menu {
        position: fixed;
        background-color: palevioletred;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }
    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
        z-index: 5;
    }
    .nav__close {
        position: absolute;
        top: 30px;
        right: 10px;
        width: 4rem;
        cursor: pointer;
        z-index: 6;
    }
    .nav__img {
        width: 4rem;
        height: 4rem;
        margin-right: 0rem;
    }
    .nav__title {
        font-size: 2rem;
        font-weight: bold;
        margin-left: 2rem;
    }
    .hero__title {
        font-size: 2.5rem;
    }
    .about__main {
        gap: 2em;
    }
    .knowledge {
        width: 90%
    }
    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
        margin: 0 auto;
        padding: 1rem;
    }
    .knowledge__picture {
        grid-row: 1/2;
        justify-self: center;
        margin: 0 auto;
    }
    .knowledge__img {
        margin-left: 0px;
    }
    .price__element {
        width: 90%;
    }
    .testimony__container {
        grid-template-columns: 50px 1fr 50px;
    }
    .testimony__body {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-content: center ;
    }
    .testimony__img {
        width: 125px;
        height: 125px;
        margin: 0 auto;
        margin-left: calc(50% - 62.5px);
    }
    .questions__copy {
        width: 100%;
    }
    .cta {
        width: 20rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
#certificado .certificado__container {
    grid-template-columns: 1fr;
    gap: 5rem;
}
#certificado .certificado__container .certificado__img img {
    width: 50%;
}
}
    /* - - - - - M E D I A  6 0 0 P X - - - - -*/
@media (max-width:600px) {
    .hero__title {
        font-size: 2rem;
    }
    .about__icons {
        width: 90%;
    }
    .subtitle {
        font-size: 1.8rem;
    }
    .slider__box {
        grid-template-columns: 1fr;
        background-color: #fff;
    }
    .slider__info p {
        color: palevioletred;
    }
    .slider__info h2 {
        background-color: palevioletred;
        color: #fff;
    }
    .plan__price {
        font-size: 2rem;
    }
    .testimony {
        --pading-container: 0px 0;
    }
    .testimony__arrow {
        width: 100%;
    }
    .testimony__course {
        margin-top: 15px;
    }
    .questions__title {
        font-size: 1rem;
    }
    .nav--footer {
        padding: 0;
    }
    .footer__title {
        justify-self: center;
        text-align: center;
        margin-bottom: 15px;
        width: min-content;
        width: 80%;
    }
    .nav__link--footer {
        flex-direction: column;
        margin: 0 auto;
    }
    .nav__items {
        margin: 0 auto;
        text-align: center;
    }
    .footer__container {
        margin-bottom: 0;
        padding: 0;
        padding-top: 3rem;
    }
    .testimony__container {
        grid-template-columns: 10% 80% 10%;
        padding-top: 0;
        gap: .4em;
    }
}


    /* - - - - - M E D I A  4 0 0 P X - - - - -*/
    @media (max-width:400px) {
        html {
            width: 100%;
        }
        .knowledge {
            margin-bottom: 7rem;
        }
        .knowledge__texts {
            width: 90%;
            padding: 0;
        }
        .knowledge__container {
            padding: 0rem;
        }
        .subtitle-testimony {
            width: 15rem;
            text-align: center;
        }
        .subtitle--testimony {
            width: auto;
            margin: 0 auto;
        }
        .testimony__container {
        grid-template-columns: 5% 9% 55%;
        padding-top: 0;
        gap: .4em;}

        .show .go-top-button {
            width: 3.5rem;
            height: 3.5rem;
            margin: 0;
        }
        .nav__title {
            display: none;
        }
        .price__element {
            padding: 20px;
            margin-bottom: 1rem;
        }
        #certificado .certificado__container .certificado__info .niveles {
            width: 90%;
            flex-direction: column;
            gap: 0rem;
            margin: 0 auto;
        }
        #certificado .certificado__container .certificado__info h2 {
            width: 90%;
            font-size: 2rem;
            margin: 0 auto;
        }
        #certificado .certificado__container .certificado__info h3 {
            width: 90%;
            margin: 0 auto;
        }
    }


    /* - - - - - M E D I A  2 5 0 P X - - - - -*/
    @media (max-width:400px) {
        html {
            width: 100%;
        }
        .cta {
            width: auto;
        }
        .about__main {
            grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        }
        .about__paragraph {
            max-width: 200px;
        }
        .about__icons {
            margin: 0;
        }
        .go-top-container {
            left: 1;
        }
        .container {
            margin: 0 auto;
            justify-content: center;
        }
        main {
            align-items: center;
        }
        .about__paragraph {
            margin: 0 auto;
        }
        .knowledge__texts {
            width: 90%;
            padding: 0;
        }
        .knowledge__container {
            padding: 0rem;
        }
        .price__element {
            padding: 8px;
            margin: 0 auto;
            margin-bottom: 1rem;
            min-width: 2rem;
        }
        .price__table {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .subtitle {
            align-items: center;
            justify-content: center;
        }
        .show .go-top-button {
            width: 3.5rem;
            height: 3.5rem;
            margin: 0;
        }
        .nav__title {
            display: none;
        }
        .hero__title {
            margin: 0 auto;
            font-size: 1.5rem;
            margin-right: 1rem;
        }
        .testimony__container {
            grid-template-columns: 10% 80% 10%;
            padding-top: 0;
            gap: .2em;
        }
        .testimony__review {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
        .nuestras__redes .redes {
            gap: 2rem;
        }
        #certificado .certificado__container .medalla {
            display: none;
        }
        #certificado .certificado__container .certificado__info {
            width: 90%;
            padding: 1rem;
            margin: 0 auto;
        }
        #certificado .certificado__container .certificado__info h2 {
            font-size: 2rem;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 2rem;
        }
        #certificado .certificado__container .certificado__info h3 {
            margin-bottom: 2rem;
        }
        #certificado .certificado__container .certificado__img img {
            width: 70%;
        }
        #certificado .certificado__container {
            gap: 2rem;
        }
    }
