/*:::Boton-Modal:::*/
.boton-modal{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
}
.boton-modal label{
    padding: 10px 15px;
    background-color: palevioletred;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1.4rem;

}
.boton-modal label:hover{
    background-color: rgb(161, 84, 110);
}
/*:::Fin Boton-Modal:::*/

/*:::Ventana Modal:::*/
#btn-modal{
    display: none;
}
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(216, 112, 147, 0.829);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal:checked ~ .container-modal{
    display: flex;
}
.content-modal{
    width: 100%;
    max-width: 400px;
    max-height: 90%;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    overflow: scroll;
}
.content-modal h2{
    margin-bottom: 15px;
}
.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: palevioletred;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1.5rem;
}
.content-modal .btn-cerrar label:hover{
    background-color:rgb(161, 84, 110);
}
.cerrar-modal{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal{
        width: 90%;
    }
}
/*:::Fin Ventana Modal:::*/


/*- - - - - - B O T O N   M O D A L   P O L Y G E L   - - - - - - */


/*:::Boton-Modal:::*/
.boton-modal--polygel{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
}
.boton-modal--polygel label{
    padding: 10px 15px;
    background-color: palevioletred;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1.4rem;

}
.boton-modal--polygel label:hover{
    background-color: rgb(161, 84, 110);
}



/*- - - - - V E N  T A N A   M O D A L   P O L Y G E L - - - -  -*/





#btn-modal--polygel{
    display: none;
}
.container-modal--polygel{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(216, 112, 147, 0.829);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal--polygel:checked ~ .container-modal--polygel{
    display: flex;
}
.content-modal--polygel{
    width: 100%;
    max-width: 400px;
    max-height: 90%;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    overflow:scroll;
}
.content-modal--polygel h2{
    margin-bottom: 15px;
}
.content-modal--polygel p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal--polygel .btn-cerrar--polygel{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.content-modal--polygel .btn-cerrar--polygel label{
    padding: 7px 10px;
    background-color: palevioletred;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1.5rem;
}
.content-modal--polygel .btn-cerrar--polygel label:hover{
    background-color:rgb(161, 84, 110);
}
.cerrar-modal--polygel{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal--polygel{
        width: 90%;
    }
}
/*:::Fin Ventana Modal:::*/








/*- - - - - - B O T O N   M O D A L   A C R I L I C A  S   - - - - - - */


/*:::Boton-Modal:::*/
.boton-modal--acrilicas{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
}
.boton-modal--acrilicas label{
    padding: 10px 15px;
    background-color: palevioletred;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1.4rem;

}
.boton-modal--acrilicas label:hover{
    background-color: rgb(161, 84, 110);
}



/*- - - - - V E N  T A N A   M O D A L   A C R I L I C A S - - - -  -*/





#btn-modal--acrilicas{
    display: none;
}
.container-modal--acrilicas{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(216, 112, 147, 0.829);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal--acrilicas:checked ~ .container-modal--acrilicas{
    display: flex;
}
.content-modal--acrilicas{
    width: 100%;
    max-width: 400px;
    max-height: 90%;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    overflow:scroll;
    overflow-y: 0;

}
.content-modal--acrilicas h2{
    margin-bottom: 15px;
}
.content-modal--acrilicas p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal--acrilicas .btn-cerrar--acrilicas{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.content-modal--acrilicas .btn-cerrar--acrilicas label{
    padding: 7px 10px;
    background-color: palevioletred;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1.5rem;
}
.content-modal--acrilicas .btn-cerrar--acrilicas label:hover{
    background-color:rgb(161, 84, 110);
}
.cerrar-modal--acrilicas{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal--acrilicas{
        width: 90%;
    }
}
/*:::Fin Ventana Modal:::*/







/*- - - - - - B O T O N   M O D A L   P E S T A Ñ  A S   - - - - - - */


/*:::Boton-Modal:::*/
.boton-modal--pestanas{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
}
.boton-modal--pestanas label{
    padding: 10px 15px;
    background-color: palevioletred;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1.4rem;

}
.boton-modal--pestanas label:hover{
    background-color: rgb(161, 84, 110);
}







/*- - - - - V E N  T A N A   M O D A L  P E S T A Ñ A  S - - - -  -*/



#btn-modal--pestanas{
    display: none;
}
.container-modal--pestanas{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(216, 112, 147, 0.829);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal--pestanas:checked ~ .container-modal--pestanas{
    display: flex;
}
.content-modal--pestanas{
    width: 100%;
    max-width: 400px;
    max-height: 90%;
    overflow: scroll;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal--pestanas h2{
    margin-bottom: 15px;
}
.content-modal--pestanas p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal--pestanas .btn-cerrar--pestanas{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.content-modal--pestanas .btn-cerrar--pestanas label{
    padding: 7px 10px;
    background-color: palevioletred;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1.5rem;
}
.content-modal--pestanas .btn-cerrar--pestanas label:hover{
    background-color:rgb(161, 84, 110);
}
.cerrar-modal--pestanas{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal--pestanas{
        width: 90%;
    }
}
/*:::Fin Ventana Modal:::*/



/*- - - - - - B O T O N   M O D A L   P E S T A Ñ  A S   - - - - - - */


/*:::Boton-Modal:::*/
.boton-modal--semipermanente{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
}
.boton-modal--semipermanente label{
    padding: 10px 15px;
    background-color: palevioletred;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1.4rem;
    justify-content: left;
}
.boton-modal--semipermanente label:hover{
    background-color: rgb(161, 84, 110);
}







/*- - - - - V E N  T A N A   M O D A L  P E S T A Ñ A  S - - - -  -*/



#btn-modal--semipermanente{
    display: none;
}
.container-modal--semipermanente{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(216, 112, 147, 0.829);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal--semipermanente:checked ~ .container-modal--semipermanente{
    display: flex;
}
.content-modal--semipermanente{
    width: 100%;
    max-width: 400px;
    max-height: 90%;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    overflow: scroll;
}
.content-modal--semipermanente h2{
    margin-bottom: 15px;
}
.content-modal--semipermanente p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal--semipermanente .btn-cerrar--semipermanente{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.content-modal--semipermanente .btn-cerrar--semipermanente label{
    padding: 7px 10px;
    background-color: palevioletred;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1.5rem;
}
.content-modal--semipermanente .btn-cerrar--semipermanente label:hover{
    background-color:rgb(161, 84, 110);
}
.cerrar-modal--semipermanente{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}

/*- - - - - V E N  T A N A   M O D A L  P E S T A Ñ A  S  VOLUMEN - - - -  -*/



#btn-modal--volumen{
    display: none;
}
.container-modal--volumen{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(216, 112, 147, 0.829);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal--volumen:checked ~ .container-modal--volumen{
    display: flex;
}
.content-modal--volumen{
    width: 100%;
    max-width: 400px;
    max-height: 90%;
    overflow: scroll;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal--volumen h2{
    margin-bottom: 15px;
}
.content-modal--volumen p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal--volumen .btn-cerrar--volumen{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.content-modal--volumen .btn-cerrar--volumen label{
    padding: 7px 10px;
    background-color: palevioletred;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1.5rem;
}
.content-modal--volumen .btn-cerrar--volumen label:hover{
    background-color:rgb(161, 84, 110);
}
.cerrar-modal--volumen{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal--volumen{
        width: 90%;
    }
}
/*:::Fin Ventana Modal:::*/



/*- - - - - - B O T O N   M O D A L   P E S T A Ñ  A S   - - - - - - */


/*:::Boton-Modal:::*/
.boton-modal--volumen{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
}
.boton-modal--volumen label{
    padding: 10px 15px;
    background-color: palevioletred;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1.4rem;
    justify-content: left;
}
.boton-modal--volumen label:hover{
    background-color: rgb(161, 84, 110);
}

/*- - - - -  FIN  V E N  T A N A   M O D A L  P E S T A Ñ A  S - - - -  -*/



/*- - - - - V E N  T A N A   M O D A L  P E S T A Ñ A  S  L I F T I N G - - - -  -*/



#btn-modal--lifting{
    display: none;
}
.container-modal--lifting{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(216, 112, 147, 0.829);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal--lifting:checked ~ .container-modal--lifting{
    display: flex;
}
.content-modal--lifting{
    width: 100%;
    max-width: 400px;
    max-height: 90%;
    overflow: scroll;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal--lifting h2{
    margin-bottom: 15px;
}
.content-modal--lifting p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal--lifting .btn-cerrar--lifting{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.content-modal--lifting .btn-cerrar--lifting label{
    padding: 7px 10px;
    background-color: palevioletred;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1.5rem;
}
.content-modal--lifting .btn-cerrar--lifting label:hover{
    background-color:rgb(161, 84, 110);
}
.cerrar-modal--lifting{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal--lifting{
        width: 90%;
    }
}
/*:::Fin Ventana Modal:::*/



/*- - - - - - B O T O N   M O D A L   L I F T I N G    - - - - - - */


/*:::Boton-Modal:::*/
.boton-modal--lifting{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
}
.boton-modal--lifting label{
    padding: 10px 15px;
    background-color: palevioletred;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1.4rem;
    justify-content: left;
}
.boton-modal--lifting label:hover{
    background-color: rgb(161, 84, 110);
}

/*- - - - -  FIN  V E N  T A N A   M O D A L  L I F T I N G   - - - -  -*/





@media screen and (max-width:800px) {
    .content-modal--semipermanente{
        width: 90%;
        text-align: start;
        /* justify-content: start; */
    }
    .container-modal--semipermanente {
        height: 100%;
        /* background-color: rgb(182, 111, 111); */
    }
    .content-modal--acrilicas{
        width: 90%;
        text-align: start;
    }
    .container-modal--acrilicas {
        height: 100%;
    }
    .content-modal--pestanas{
        width: 90%;
        text-align: start;
    }
    .container-modal--pestanas {
        height: 100%;
    }
    .content-modal--polygel{
        width: 90%;
        text-align: start;
    }
    .container-modal--polygel {
        height: 100%;
    }
    .content-modal{
        width: 90%;
        text-align: start;
    }
    .container-modal {
        height: 100%;
    }
    .content-modal--volumen{
        width: 90%;
        text-align: start;
    }
    .container-modal--volumen {
        height: 100%;
    }
    .content-modal--lifting{
        width: 90%;
        text-align: start;
    }
    .container-modal--lifting .content-modal--lifting {
        height: 100vh;
    }
    .boton-modal--semipermanente label {
        font-size: 2rem;
    }
    .boton-modal--acrilicas label {
        font-size: 2rem;
    }
    .boton-modal--pestanas label {
        font-size: 2rem;
    }
    .boton-modal--polygel label {
        font-size: 2rem;
    }
    .boton-modal label {
        font-size: 2rem;
    }
    .boton-modal--volumen label {
        font-size: 2rem;
    }
    .boton-modal--lifting label {
        font-size: 2rem;
    }
}
/*:::Fin Ventana Modal:::*/



